/* NAV WRAPPER */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px 0;
  z-index: 9999;
  transition: 0.25s ease-in-out;
}

.nav-scrolled {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(14px);
  box-shadow: 0 6px 22px rgba(0,0,0,0.55);
}

/* FLOATING AURORA BEHIND NAVBAR */
.nav-glow {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background: radial-gradient(circle at 30% -40%, #a855f766 0%, transparent 70%),
              radial-gradient(circle at 80% 150%, #6366f155 0%, transparent 70%);
  opacity: 0.7;
  z-index: -1;
  pointer-events: none;
}

/* INNER STRUCTURE */
.nav-inner {
  width: 90%;
  max-width: 1350px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
}

.logo-glow {
  background: linear-gradient(90deg, #a855f7, #60a5fa);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 0 20px rgba(166, 91, 255, 0.4);
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 28px;
}

.nav-link {
  position: relative;
  padding: 8px 10px;
  font-size: 15px;
  font-weight: 500;
  color: #dcdcdc;
  text-decoration: none;
  transition: 0.2s;
}

.nav-link:hover {
  color: #fff;
}

.nav-link.active {
  color: #ffffff;
  font-weight: 700;
  text-shadow: 0 0 12px rgba(168, 85, 247, 0.8),
               0 0 18px rgba(96, 165, 250, 0.7);
  background: linear-gradient(90deg, #a855f7, #60a5fa);
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
}


.nav-underline {
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(90deg, #a855f7, #60a5fa);
  bottom: -4px;
  border-radius: 6px;
}


/* DESKTOP ONLY */
.desktop {
  display: flex;
}

/* MOBILE HAMBURGER */
.hamburger {
  width: 32px;
  height: 32px;
  display: none;
  cursor: pointer;
  position: relative;
}

.hamburger .bar,
.hamburger .bar::before,
.hamburger .bar::after {
  content: "";
  width: 100%;
  height: 3px;
  background: white;
  position: absolute;
  transition: 0.3s;
}

.hamburger .bar {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger .bar::before {
  top: -10px;
}

.hamburger .bar::after {
  top: 10px;
}

/* animation when open */
.hamburger .bar.open {
  background: transparent;
}

.hamburger .bar.open::before {
  top: 0;
  transform: rotate(45deg);
}

.hamburger .bar.open::after {
  top: 0;
  transform: rotate(-45deg);
}

.mobile-menu {
  display: none;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(12px);
  padding: 14px 0;
}

.mobile-link {
  padding: 12px 22px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.mobile-link:hover {
  background: rgba(255,255,255,0.15);
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
